.intro{
   font-family: 'Noto Sans HK', sans-serif;
  color:white;
  text-align: center;
}
header{
  background-image: url("https://wallpapercave.com/wp/wp3291028.png");
  height:70vh;
  background-size: cover;
  background-position: absolute;
}
.logo{
width: 96%;
float: right;
}
#about me h3{
  text-align: right;
  display: block;
  right: auto;
  float: left;
}
