.intro{
   font-family: 'Noto Sans HK', sans-serif;
  color:white;
  text-align: center;
}
header{
  background-image: url("https://wallpapercave.com/wp/wp3291028.png");
  height:70vh;
  background-size: cover;
  background-position: absolute;
}
.logo{
width: 96%;
}
 h3{
color: #f9a581;
}
.logo2{
  display: flex;
  flex-direction: column;
  float:right;
  align-items: right;
  padding-top: 3%;
}
